<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode title="商品目录" DatatechResource="Datatech.Menu.UserCenter" ImageUrl="" PermissionNames="Datatech.Menu.UserCenter">
    <siteMapNode title="商品分类" DatatechResource="Datatech.Menu.BasicManagement.DepartmentManagement" Controller="Department" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.DepartmentManagement">
      <siteMapNode title="列表" DatatechResource="Datatech.Menu.BasicManagement.UserManagement" Controller="User" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.UserManagement"/>
      <siteMapNode title="树视图" DatatechResource="Datatech.Menu.BasicManagement.UserManagement" Controller="User" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.UserManagement"/>
    </siteMapNode>
    <siteMapNode title="制造商管理" DatatechResource="Datatech.Menu.BasicManagement.UserManagement" Controller="User" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.UserManagement"/>
    <siteMapNode title="商品管理" DatatechResource="Datatech.Menu.BasicManagement.RoleManagement" Controller="Role" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.RoleManagement">
      <siteMapNode title="商品管理" DatatechResource="Datatech.Menu.BasicManagement.UserManagement" Controller="User" Action="Index" PermissionNames="Datatech.Menu.BasicManagement.UserManagement"/>
    </siteMapNode>
    <siteMapNode title="属性管理" DatatechResource="Datatech.Menu.BasicManagement.PermissionManagement" Controller="Permission" Action="index" PermissionNames="Datatech.Menu.BasicManagement.PermissionManagement"/>
  </siteMapNode>
</siteMap>